.searchbox {
    position: relative;
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-top: 15px;
    border: 3px solid #88b1ae;

}

.dorpdownbox {
    width: 70px;
    height: 30px;
    border: 2px solid #88B1AE;
    background: white;
    margin-top: 10px;
    margin-left: 10px;
}

.labelname {
    margin-top: 10px;
    color: white;
    font-size: 17px;
    font-weight: 1000;

}

.labelname tr th {
    margin: 30px;
}

#data_table,
#recent_data_table {
    position: absolute;
    border-collapse: collapse;
    width: 100%;
    margin: 0 5% 0 auto;
}

#data_table th {
    border: 2px solid #dddddd;
    color: white;
    padding: 8px;
    white-space: nowrap;
    /*텍스트 줄바꿈 고정*/
}

#data_table td {
    border: 2px solid #dddddd;
    color: white;
    padding: 8px;
    white-space: nowrap;
}

#recent_data_table th {
    border: 2px solid #dddddd;
    color: white;
    padding: 8px;
    white-space: nowrap;
    /*텍스트 줄바꿈 고정*/
}

#recent_data_table td {
    border: 2px solid #dddddd;
    color: white;
    padding: 8px;
    white-space: nowrap;
}

#paging_btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
}